.places {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  max-width: 984px;
  padding-top: 92px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
    max-width: 100%;
  }
}

