.header {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
}

@media screen and (max-width: 1280px) {

  .header {
    width: calc(100% - 96px);
  }

}

@media screen and (max-width: 768px) {

  .header {
    width: calc(100% - 48px);
    padding: 0 24px;
  }

}

@media screen and (max-width: 320px) {

  .header {
    width: calc(100% - 32px);
    padding: 0 16px;
  }

}
