.cover {
  position: relative;
  font-family: Inter;
  color: #fff;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  min-height: 740px;
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s;
}

.cover:hover::before {
  opacity: 0.8;
}


@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 800px) {
  .cover {
    min-height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    min-height: 375px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}



